
*.pyc
*.suo
*.ncb
*.exp
*.pyd
*.lib
*.pdb
*.obj
*.idb
*.dep
*.py~
*.png
*.jpg
*.ply
*.cpp~
*.swp
*.dll
*.tga
*.tar.gz
*.zip
*.exe
/PyWrapper/PyWrapper/bin
/PyWrapper/PyWrapper/obj
/PyAPI/PyAPI/Release
/PyAPI/PyAPI/Debug
/RenmasAPI/Release
/RenmasAPI/RenmasAPI/Release
/RenmasAPI/RenmasAPI/Debug
/RenmasWPF2/RenmasWPF2/bin
/RenmasWPF2/RenmasWPF2/obj
/RenmasWPF3/RenmasWPF3/bin
/RenmasWPF3/RenmasWPF3/obj
/ImageLoader/ImageLoader/Release
/WindowLibrary/WindowLibrary/Release
/WindowLibrary/WindowLibrary/x64
/ImageLoader/ImageLoader/x64
/ImageLoader/ImageLoader/ImageLoader.vcproj.Mario-PC.Mario.user
/WindowLibrary/WindowLibrary/WindowLibrary.vcproj.Mario-PC.Mario.user
/WindowLibrary/WindowLibrary/Debug

