
*.pyc
*.suo
*.ncb
*.exp
*.pyd
*.lib
*.pdb
*.obj
*.idb
*.dep
*.py~
*.png
*.ply
*.cpp~
*.swp
/ImageLoader/ImageLoader/Release
/WindowLibrary/WindowLibrary/Release
/WindowLibrary/WindowLibrary/x64
/ImageLoader/ImageLoader/x64
/ImageLoader/ImageLoader/ImageLoader.vcproj.Mario-PC.Mario.user
/WindowLibrary/WindowLibrary/WindowLibrary.vcproj.Mario-PC.Mario.user

